<section class="row">
    <h2>budget</h2>

    <table id="budget">
        <thead>
            <tr>
                <th>program</th>
                <th>personnel</th>
                <th>operations</th>
                <th>investments</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <td>{{Programi & Njesite shpenzuese}}</td>
                <td>{{Shpenzime personeli}}</td>
                <td>{{Shpenzime operative}}</td>
                <td>{{Shpenzime per Investime}}</td>
                <td>{{Totali buxhetit}}</td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</section>
