<section class="row">
    <h2>budget</h2>

    <table id="budget">
        <thead>
            <tr>
                <th>program</th><th>personnel</th><th>operations</th><th>investments</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <td><a href="/readings?id={{id}}">{{program}}</a></td>
                <td>{{personnel}}</td>
                <td>{{operations}}</td>
                <td>{{investment}}</td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</section>