<section class="row">
    <h2 id="title"></h2>
    <table id="budget">
        <thead id="tableHeader"></thead>
        <tbody id="tableBody"></tbody>
    </table>

    <canvas id="myChart" width="400" height="200"></canvas>
</section>

<script>
    var data = {{{ budgets }}};
    var aBudget = {{ aBudget }};

    var title = document.getElementById("title");
    var thead = document.getElementById("tableHeader");
    var tbody = document.getElementById("tableBody");

    var titleHtml = '';
    var tableHeaderHtml = '';
    var tableBodyHtml = '';

    var i = 0;
    var j = data.length;

    //var labels = [];

    var loadData = function(data) {
        if (aBudget) {

            // display the details of a specific budget
            titleHtml = '{{ budget_name }}';

            for(; i < j; i++) {
                var row = data[i];
                if (i === 0) {

                    // this is the first row of the table so
                    // we will create a header
                    tableHeaderHtml += '<tr>';
                    for(var key in row) {
                        //labels.push(key);
                        tableHeaderHtml += `<th>${ key }</th>`;
                    }
                    tableHeaderHtml += '</tr>';

                    // but we also have to create a row with the
                    // values in row 0
                    tableBodyHtml += '<tr>';
                    for(var key in row) {
                        tableBodyHtml += `<td>${ row[key] }</td>`;
                    }
                    tableBodyHtml += '</tr>';
                }
                else {

                    // we will create all the rows of the table
                    tableBodyHtml += '<tr>';
                    //var k = 0;
                    for(var key in row) {
                        // if (k === 0) {
                        //     labels.push(row[key]);
                        // }
                        // k++;

                        tableBodyHtml += `<td>${ row[key] }</td>`;
                    }
                    tableBodyHtml += '</tr>';
                }
            }

            // lets make a chart
            /*
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [
                        'personeli',
                        'operative',
                        'per Investime'
                    ],
                    datasets: [
                        {
                            backgroundColor: 'red',
                            label: 'Sherbime publike vendore 00.0626.5',
                            data: [718100, 2059307, 1192223]
                        },
                        {
                            backgroundColor: 'blue',
                            label: 'Aparati I Bashkise',
                            data: [0, 1728200, 958929]
                        },
                        {
                            backgroundColor: 'green',
                            label: 'Inspektoriati I Mbrojtjes se territorit',
                            data: [119, 7000, 0]
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true,
                        }]
                    }
                }
            });
            */
        }
        else {

            // display all the budgets
            titleHtml = 'Available Budgets';
            tableHeaderHtml += '<tr><td>name</td></tr>';

            for(; i < j; i++) {
                var disp_name = data[i].replace(/_/g, ' ');
                tableBodyHtml += `<tr><td><a href='/budgets?name=${ data[i] }'>${ disp_name }</a></td></tr>`;
            }
        }

        title.innerHTML = titleHtml;
        thead.innerHTML = tableHeaderHtml;
        tbody.innerHTML = tableBodyHtml;
    };

    loadData(data);
</script>
